html, body {
  margin: 0;
}
h1 {
  font-family: sans-serif;
  font-size: 2em;
  color: #8ebbe0;
}
.app-header, .app-main, .app-footer {
  padding: 2em;
}
.app-container {
  display: flex;
  justify-content: space-around;
  max-width: 40em;
  margin: 0 auto;
}
